<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Request Trap</title>
</head>
<body>
    <h1 style="text-align: center">Request Trap</h1>
    <p style="text-align: center">Instructions:</p>
    <ol>
        <li>Send request to <%= req.hostname %>:<%= req.port %>/your_request </li>
        <li>Check requests: <%= req.hostname %>:<%= req.port %>/your_request/requests</li>
    </ol>
</body>
</html>